Hi {{first_name}},

Here's the failure health check report for {{data.scheduled_job.date_time}}.

<table>
    <tr>
        <th>Host</th>
        <th>Reason of Failure</th>
    </tr>

    <tr>
        {%- for record in data.host_health_check %}
            {%- if not record.is_reachable %}
                <td>{{ data.hosts[record.host_id].name }}</td>
                <td>{{ data.hosts[record.host_id].ip_address }}</td>
                <td>{{ record.output_text }}</td>
            {% endif %}
        {% endfor %}
    </tr>
</table>

Thanks
